.test-container{
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.flax-container{
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
}

.flax-element{
    margin-right: 30px;
    margin-bottom: 30px;
}

.flax-element:nth-child(3n){
    margin-right: 0px;
}
.flax-element:nth-child(-n+3){
    margin-top: 0px;
}